# Ignore vscode files
.vscode/

# Ingore pycache
__pycache__/
*.egg-info

# Ignore Mac system files
**/.DS_Store

# Example
tests/racetracks/
tests/telemetry/

# Ignore third-party libraries
third_party/
