# Ignore vscode files
.vscode/

# Ingore pycache
__pycache__/
*.egg-info

# Ignore Mac system files
**/.DS_Store

# Example
example/test_pytelem_2.py

# Ignore third-party libraries
third_party/
docs/